{% load static %}
{% load custom_filters %}

<aside class="right-sidebar" id="rightsidebar">
 <ul class="nav nav-tabs tab-nav-right" role="tablist">
  <li class="active" role="presentation">
   <a data-toggle="tab" href="#skins">
    Skins
   </a>
  </li>
  <li role="presentation">
   <a data-toggle="tab" href="#chat">
    Chat
   </a>
  </li>
  <li role="presentation">
   <a data-toggle="tab" href="#settings">
    Setting
   </a>
  </li>
 </ul>
 <div class="tab-content">
  <div class="tab-pane fade in active in active" id="skins" role="tabpanel">
   <ul class="demo-choose-skin">
    <li data-theme="red">
     <div class="red">
     </div>
     <span>
      Red
     </span>
    </li>
    <li data-theme="purple">
     <div class="purple">
     </div>
     <span>
      Purple
     </span>
    </li>
    <li class="active" data-theme="blue">
     <div class="blue">
     </div>
     <span>
      Blue
     </span>
    </li>
    <li data-theme="cyan">
     <div class="cyan">
     </div>
     <span>
      Cyan
     </span>
    </li>
    <li data-theme="green">
     <div class="green">
     </div>
     <span>
      Green
     </span>
    </li>
    <li data-theme="deep-orange">
     <div class="deep-orange">
     </div>
     <span>
      Deep Orange
     </span>
    </li>
    <li data-theme="blue-grey">
     <div class="blue-grey">
     </div>
     <span>
      Blue Grey
     </span>
    </li>
    <li data-theme="black">
     <div class="black">
     </div>
     <span>
      Black
     </span>
    </li>
    <li data-theme="blush">
     <div class="blush">
     </div>
     <span>
      Blush
     </span>
    </li>
   </ul>
  </div>
  <div class="tab-pane fade" id="chat" role="tabpanel">
   <div class="demo-settings">
    <div class="search">
     <div class="input-group">
      <div class="form-line">
       <input autofocus="" class="form-control" placeholder="Search..." required="" type="text"/>
      </div>
     </div>
    </div>
    <h6>
     Recent
    </h6>
    <ul>
     <li class="online">
      <div class="media">
       <a class="pull-left" role="button" tabindex="0">
        <img alt="" class="media-object" src="{% static 'admin/assets/images/random-avatar4.jpg' %}"/>
       </a>
       <div class="media-body">
        <span class="name">
         Claire Sassu
        </span>
        <span class="message">
         Can you share the...
        </span>
        <span class="badge badge-outline status">
        </span>
       </div>
      </div>
     </li>
     <li class="online">
      <div class="media">
       <a class="pull-left" role="button" tabindex="0">
        <img alt="" class="media-object" src="{% static 'admin/assets/images/random-avatar5.jpg' %}"/>
       </a>
       <div class="media-body">
        <div class="media-body">
         <span class="name">
          Maggie jackson
         </span>
         <span class="message">
          Can you share the...
         </span>
         <span class="badge badge-outline status">
         </span>
        </div>
       </div>
      </div>
     </li>
     <li class="online">
      <div class="media">
       <a class="pull-left" role="button" tabindex="0">
        <img alt="" class="media-object" src="{% static 'admin/assets/images/random-avatar3.jpg' %}"/>
       </a>
       <div class="media-body">
        <div class="media-body">
         <span class="name">
          Joel King
         </span>
         <span class="message">
          Ready for the meeti...
         </span>
         <span class="badge badge-outline status">
         </span>
        </div>
       </div>
      </div>
     </li>
    </ul>
    <h6>
     Contacts
    </h6>
    <ul>
     <li class="offline">
      <div class="media">
       <a class="pull-left" role="button" tabindex="0">
        <img alt="" class="media-object" src="{% static 'admin/assets/images/random-avatar4.jpg' %}"/>
       </a>
       <div class="media-body">
        <div class="media-body">
         <span class="name">
          Joel King
         </span>
         <span class="badge badge-outline status">
         </span>
        </div>
       </div>
      </div>
     </li>
     <li class="online">
      <div class="media">
       <a class="pull-left" role="button" tabindex="0">
        <img alt="" class="media-object" src="{% static 'admin/assets/images/random-avatar5.jpg' %}"/>
       </a>
       <div class="media-body">
        <div class="media-body">
         <span class="name">
          Joel King
         </span>
         <span class="badge badge-outline status">
         </span>
        </div>
       </div>
      </div>
     </li>
     <li class="offline">
      <div class="media">
       <a class="pull-left" role="button" tabindex="0">
        <img alt="" class="media-object" src="{% static 'admin/assets/images/random-avatar6.jpg' %}"/>
       </a>
       <div class="media-body">
        <div class="media-body">
         <span class="name">
          Joel King
         </span>
         <span class="badge badge-outline status">
         </span>
        </div>
       </div>
      </div>
     </li>
    </ul>
   </div>
  </div>
  <div class="tab-pane fade" id="settings" role="tabpanel">
   <div class="demo-settings">
    <p>
     GENERAL SETTINGS
    </p>
    <ul class="setting-list">
     <li>
      <span>
       Report Panel Usage
      </span>
      <div class="switch">
       <label>
        <input checked="" type="checkbox"/>
        <span class="lever">
        </span>
       </label>
      </div>
     </li>
     <li>
      <span>
       Email Redirect
      </span>
      <div class="switch">
       <label>
        <input type="checkbox"/>
        <span class="lever">
        </span>
       </label>
      </div>
     </li>
    </ul>
    <p>
     SYSTEM SETTINGS
    </p>
    <ul class="setting-list">
     <li>
      <span>
       Notifications
      </span>
      <div class="switch">
       <label>
        <input checked="" type="checkbox"/>
        <span class="lever">
        </span>
       </label>
      </div>
     </li>
     <li>
      <span>
       Auto Updates
      </span>
      <div class="switch">
       <label>
        <input checked="" type="checkbox"/>
        <span class="lever">
        </span>
       </label>
      </div>
     </li>
    </ul>
    <p>
     ACCOUNT SETTINGS
    </p>
    <ul class="setting-list">
     <li>
      <span>
       Offline
      </span>
      <div class="switch">
       <label>
        <input type="checkbox"/>
        <span class="lever">
        </span>
       </label>
      </div>
     </li>
     <li>
      <span>
       Location Permission
      </span>
      <div class="switch">
       <label>
        <input checked="" type="checkbox"/>
        <span class="lever">
        </span>
       </label>
      </div>
     </li>
    </ul>
   </div>
  </div>
 </div>
</aside>
