{% load static %}
{% load custom_filters %}

<aside class="sidebar" id="leftsidebar">
 <div class="menu">
  <ul class="list">
   <li>
    <div class="user-info">
     <div class="image">
      <a href="profile.html">
       <img alt="User" src="{% static 'admin/assets/images/profile_av.jpg' %}"/>
      </a>
     </div>
     <div class="detail">
      <h4>
       Michael
      </h4>
      <small>
       UI UX Designer
      </small>
     </div>
     <a href="events.html" title="Events">
      <i class="zmdi zmdi-calendar">
      </i>
     </a>
     <a href="mail-inbox.html" title="Inbox">
      <i class="zmdi zmdi-email">
      </i>
     </a>
     <a href="contact.html" title="Contact List">
      <i class="zmdi zmdi-account-box-phone">
      </i>
     </a>
     <a href="chat.html" title="Chat App">
      <i class="zmdi zmdi-comments">
      </i>
     </a>
     <a href="sign-in.html" title="Sign out">
      <i class="zmdi zmdi-power">
      </i>
     </a>
    </div>
   </li>
   <li class="header">
    MAIN NAVIGATION
   </li>
   <li>
    <a href="index.html">
     <i class="zmdi zmdi-home">
     </i>
     <span>
      Dashboard
     </span>
    </a>
   </li>
   <li {% if mail_inbox_class %} class="{{ mail_inbox_class }}" {% endif %}>
    <a href="mail-inbox.html">
     <i class="zmdi zmdi-email">
     </i>
     <span>
      Inbox
     </span>
    </a>
   </li>
   <li {% if mail_compose_class %} class="{{ mail_compose_class }}" {% endif %}>
    <a href="mail-compose.html">
     <i class="zmdi zmdi-plus-circle">
     </i>
     <span>
      Compose Mail
     </span>
    </a>
   </li>
   <li {% if mail_single_class %} class="{{ mail_single_class }}" {% endif %}>
    <a href="mail-single.html">
     <i class="zmdi zmdi-file-text">
     </i>
     <span>
      Single Mail
     </span>
    </a>
   </li>
   <li>
    <a href="javascript:void(0);">
     <i class="zmdi zmdi-folder-star">
     </i>
     <span>
      Draft
     </span>
    </a>
   </li>
   <li>
    <a href="javascript:void(0);">
     <i class="zmdi zmdi-folder-star">
     </i>
     <span>
      Important
     </span>
    </a>
   </li>
   <li>
    <a href="javascript:void(0);">
     <i class="zmdi zmdi-delete">
     </i>
     <span>
      Bin
     </span>
    </a>
   </li>
   <li class="header">
    LABELS
   </li>
   <li>
    <a href="javascript:void(0);">
     <i class="zmdi zmdi-label col-blue">
     </i>
     <span>
      Family
     </span>
    </a>
   </li>
   <li>
    <a href="javascript:void(0);">
     <i class="zmdi zmdi-label col-green">
     </i>
     <span>
      Work
     </span>
    </a>
   </li>
   <li>
    <a href="javascript:void(0);">
     <i class="zmdi zmdi-label col-amber">
     </i>
     <span>
      Shop
     </span>
    </a>
   </li>
   <li>
    <a href="javascript:void(0);">
     <i class="zmdi zmdi-label col-blush">
     </i>
     <span>
      Themeforest
     </span>
    </a>
   </li>
   <li>
    <a href="javascript:void(0);">
     <i class="zmdi zmdi-label col-red">
     </i>
     <span>
      Google
     </span>
    </a>
   </li>
  </ul>
 </div>
</aside>
