{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html class="no-js" lang="en">

{% include 'main-site/partials/head.html' with page="home" plugins="swiper-bundle.min,magnific-popup,nice-select"|split %}

<body class="font-karla text-body text-tiny">
    <div class="overflow-hidden">
        <!-- Header start -->

        <header id="sticky-header" class="absolute left-0 top-[15px] lg:top-[30px] xl:top-[45px] w-full z-10">
            {% include 'main-site/partials/header/header-one.html' %}
        </header>



        {% include 'main-site/partials/offcanvas/index.html' %}
        <!-- Header end -->


        <!-- Payment Success Start-->
        <section style="margin-top: 100px;" class="explore-cities-section pt-[80px] pb-[120px] lg:py-[120px]">
            <div class="div-wrapper-for-loaded-content">
                <div id="loadedContent" class="animate-bottom">        
                    <div class="main-container">
                        <div class="check-container">
                            <div class="check-background">
                                <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="check-shadow"></div>
                        </div>
                    </div>

                    <h2 class="font-lora leading-tight text-[22px] md:text-[28px] lg:text-[36px] text-primary mb-[5px] font-medium successful-conversion">Payment successful</h2>
                    <div>
                        <h3 style="text-align: center;" class="font-light text-[18px] text-secondary">{{ msg }}</h3>
                        <h3 style="text-align: center;" class="font-light text-[18px] text-secondary">{{ details }}</h3>
                    </div>
                </div>                
            </div>
        </section>
        <!-- Payment Success End-->



        <!-- Footer Start -->
        <footer class="footer bg-[#EEEEEE] pt-[80px] lg:pt-[120px] pb-30 md:pb-[80px] lg:pb-[110px] font-normal bg-no-repeat" style="background-image: url('{{ STATIC_URL }}main-site/assets/images/footer/pattern.png');">
            <div class="container">
                {% include 'main-site/partials/footer/index.html' %}
            </div>
        </footer>
        <!-- Footer End -->

        <a id="scrollUp" class="w-12 h-12 rounded-full bg-primary text-white fixed right-5 bottom-16 flex flex-wrap items-center justify-center transition-all duration-300 z-10" href="#" aria-label="scroll up">
            <svg width="25" height="25" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M6.101 261.899L25.9 281.698c4.686 4.686 12.284 4.686 16.971 0L198 126.568V468c0 6.627 5.373 12 12 12h28c6.627 0 12-5.373 12-12V126.568l155.13 155.13c4.686 4.686 12.284 4.686 16.971 0l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L232.485 35.515c-4.686-4.686-12.284-4.686-16.971 0L6.101 244.929c-4.687 4.686-4.687 12.284 0 16.97z" />
            </svg>
        </a>
    </div>


    {% include 'main-site/partials/scripts.html' with page="home" plugins="swiper-bundle.min,popper.min,jquery.magnific-popup.min,jquery.ajaxchimp.min,parallax.min,jquery.nice-select.min"|split %}

</body>

</html>