{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html class="no-js" lang="en">

{% include 'main-site/partials/head.html' with page="home" plugins="swiper-bundle.min,magnific-popup,nice-select"|split %}

<body class="font-karla text-body text-tiny">
    <div class="overflow-hidden">
        <!-- header top start -->
        <div class="bg-primary font-lora text-white py-[11px]">
            {% include 'main-site/partials/header/topbar.html' %}
        </div>
        <!-- header top end -->

        <!-- Header start -->

        <header id="sticky-header" class="relative bg-[#E9F1FF] lg:py-[30px] z-10 secondary-sticky secondary-sticky">
            {% include 'main-site/partials/header/header-one.html' %}
        </header>

        {% include 'main-site/partials/offcanvas/index.html' %}
        <!-- Header end -->
        <!-- Hero section start -->
        
        {% comment %} <section class="bg-no-repeat bg-center bg-cover bg-[#FFF6F0] h-[350px] lg:h-[513px] flex flex-wrap items-center relative before:absolute before:inset-0 before:content-[''] before:bg-[#000000] before:opacity-[70%]" style="background-image: url('{{ STATIC_URL }}main-site/assets/images/breadcrumb/bg-1.png');"> {% endcomment %}
        <section class="bg-no-repeat bg-center bg-cover bg-[#FFF6F0] h-[350px] lg:h-[513px] flex flex-wrap items-center relative before:absolute before:inset-0 before:content-[''] before:bg-[#000000] before:opacity-[70%]" style="background-image: url('{{ STATIC_URL }}main-site/assets/images/breadcrumb/bg-1.png');">
            <div class="container">
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <div class="max-w-[700px]  mx-auto text-center text-white relative z-[1]">
                            <div class="mb-5"><span class="text-base block">Sign up</span></div>
                            <h1 class="font-lora text-[32px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl font-medium">
                                Welcome!
                            </h1>

                            <p class="text-base mt-5 max-w-[500px] mx-auto text-center">
                                You're one step closer to finding your dream home. Sign up now to unlock all the features of our website, including personalized recommendations, saved searches, and exclusive listings. Join us today and let's find your dream home together!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero section end -->

        <!-- contact form start -->
        <div class="py-[80px] lg:py-[120px]">
            <div class="container">                
                <form method="post" action="{% url 'authentication:signup' %}">
                    {% csrf_token %}
                    <div class="grid grid-cols-12 gap-x-[30px] mb-[-30px]">
                        <div class="col-span-12 lg:col-span-6 mb-[30px]">
                            <h2 class="font-lora text-primary text-[24px] sm:text-[30px] leading-[1.277] xl:text-xl mb-[15px] font-medium">
                                Create Account<span class="text-secondary">.</span></h2>

                            <p class="max-w-[465px] mb-[50px]">
                                With a personalized account, you'll be able to save your favorite properties, set up alerts for new listings that meet your criteria, and easily schedule viewings with one of our experienced agents. Plus, you'll gain access to exclusive content, such as detailed property reports and market insights. Don't wait - create an account today and start exploring all that our website has to offer!
                                {% for error in non_field_errors %}
                                    <p style="color: #f71735; padding: 5px; margin-bottom: 15px;"><strong>{{ error }}</strong></p>
                                {% endfor %}
                            </p>
                            <div class="grid grid-cols-12 gap-x-[20px] gap-y-[35px]">
                                <div class="col-span-12">
                                    <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="text" placeholder="First name" name="first_name" value="{{ form.first_name.value|default:'' }}">
                                    {% for error in errors.first_name %}
                                        <p style="color: #f71735; padding: 5px;"><strong>{{ error }}</strong></p>
                                    {% endfor %}
                                </div>

                                <div class="col-span-12">
                                    <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="text" placeholder="Last name" name="last_name" value="{{ form.last_name.value|default:'' }}">
                                    {% for error in errors.last_name %}
                                        <p style="color: #f71735; padding: 5px;"><strong>{{ error }}</strong></p>
                                    {% endfor %}
                                </div>

                                <div class="col-span-12">
                                    <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="text" placeholder="Username" name="username" value="{{ form.username.value|default:'' }}">
                                    {% for error in errors.username %}
                                        <p style="color: #f71735; padding: 5px;"><strong>{{ error }}</strong></p>
                                    {% endfor %}
                                </div>

                                <div class="col-span-12">
                                    <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="email" placeholder="Email" name="email" value="{{ form.email.value|default:'' }}">
                                    {% for error in errors.email %}
                                        <p style="color: #f71735; padding: 5px;"><strong>{{ error }}</strong></p>
                                    {% endfor %}
                                </div>

                                <div class="col-span-12">
                                    <div class="sm:w-[400px]" style="display: grid; grid-template-columns: repeat(12, 1fr); grid-column: span 12/span 12; align-items: center;">
                                        <div style="grid-column: 1/span 2; padding-left: 10px;">+234</div>
                                        <div style="grid-column: 3/span 11;">
                                            <input class="font-light w-full leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="text" placeholder="Phone number" name="phone_number" value="{{ form.phone_number.value|default:'' }}">
                                        </div>
                                    </div>
                                    {% for error in errors.phone_number %}
                                        <p style="color: #f71735; padding: 5px;"><strong>{{ error }}</strong></p>
                                    {% endfor %}
                                </div>

                                <div class="col-span-12">
                                    <label class="mb-[20px] font-lora text-[15px] font-small leading-none block text-primary" for="{{ form.user_type.id_for_label }}">What type of user are you?</label>
                                    <div class="relative w-full sm:w-[400px]">                                
                                        <select class="nice-select form-select" id="{{ form.user_type.id_for_label }}" name="{{ form.user_type.name }}">
                                            {% for value, label in form.user_type.field.choices %}
                                                <option value="{{ value }}" {% if form.user_type.initial == value %}selected{% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                        {% for error in errors.user_type %}
                                            <p style="color: #f71735; padding: 5px;"><strong>{{ error }}</strong></p>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-span-12">
                                    <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="password" placeholder="Password" name="password1" value="{{ form.password1.value|default:'' }}">
                                    {% for error in errors.password1 %}
                                        <p style="color: #f71735; padding: 5px;"><strong>{{ error }}</strong></p>
                                    {% endfor %}
                                </div>

                                <div class="col-span-12">
                                    <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="password" placeholder="Confirm Password" name="password2" value="{{ form.password2.value|default:'' }}">
                                    {% for error in errors.password2 %}
                                        <p style="color: #f71735; padding: 5px;"><strong>{{ error }}</strong></p>
                                    {% endfor %}


                                    <div class="flex flex-wrap items-center justify-between w-full sm:w-[400px]">
                                        <div class="flex flex-wrap mt-[15px] items-center">
                                            <input type="checkbox" id="checkbox1" name="terms_accepted" required {% if form.terms_accepted.value %}checked{% endif %}>
                                            <label for="checkbox1" class="ml-[5px] cursor-pointer"> I agree with the
                                                <a href="#" class="underline text-secondary">Terms &
                                                    Conditions</a></label><br>
                                            {% for error in errors.terms_accepted %}
                                                <p style="color: #f71735; padding: 5px;"><strong>{{ error }}</strong></p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                    
                                <div class="col-span-12">
                                    <div class="flex flex-wrap items-center">
                                        <button type="submit" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[40px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all">Sign up</button>

                                        <p class="ml-[40px]">Already have an Account? <a href="{% url 'authentication:login' %}" class="text-secondary">Login</a></p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-span-12 lg:col-span-6 mb-[30px]">
                            <img src="{% static 'main-site/assets/images/contact/image2.png' %}" class="w-full lg:max-w-[538px] h-auto rounded-[10px]" width="546" height="668" alt="image">
                        </div>
                    </div>                    
                </form>

            </div>
        </div>

        <!-- Brand section Start-->
        <section class="brand-section pb-[80px] lg:pb-[120px]">
            <div class="container">
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <div class="mb-[60px] text-center">
                            <span class="text-secondary text-tiny inline-block mb-2">Our Partner’s</span>
                            <h2 class="font-lora text-primary text-[24px] sm:text-[30px] xl:text-xl capitalize font-medium">
                                Reliable Partner’s<span class="text-secondary">.</span></h2>
                        </div>
                        <div class="brand-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <!-- swiper-slide start -->
                                    {% with context_503869='[{"image":"1"},{"image":"2"},{"image":"3"},{"image":"4"},{"image":"5"},{"image":"3"}]' %}{% for loop_32471 in context_503869|json_loads %}{% include "main-site/partials/brand-carousel/index.html" with image=loop_32471.image %}{% endfor %}{% endwith %}

                                    <!-- swiper-slide end-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Brand section End-->

        <!-- News Letter section start -->
        <section class="py-[80px] lg:p-[90px] bg-primary relative">
            <div class="container">
                <div class="grid grid-cols-1">
                    <div class="col-span">
                        {% include 'main-site/partials/news-letter/index-2.html' %}
                    </div>
                </div>
            </div>
        </section>
        <!-- News Letter section End -->

        <!-- Footer Start -->
        <footer class="footer bg-[#EEEEEE] pt-[80px] lg:pt-[120px] pb-30 md:pb-[80px] lg:pb-[110px] font-normal bg-no-repeat" style="background-image: url('{{ STATIC_URL }}main-site/assets/images/footer/pattern.png');">
            <div class="container">
                {% include 'main-site/partials/footer/index.html' %}
            </div>
        </footer>
        <!-- Footer End -->
        <a id="scrollUp" class="w-12 h-12 rounded-full bg-primary text-white fixed right-5 bottom-16 flex flex-wrap items-center justify-center transition-all duration-300 z-10" href="#" aria-label="scroll up">

            <svg width="25" height="25" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M6.101 261.899L25.9 281.698c4.686 4.686 12.284 4.686 16.971 0L198 126.568V468c0 6.627 5.373 12 12 12h28c6.627 0 12-5.373 12-12V126.568l155.13 155.13c4.686 4.686 12.284 4.686 16.971 0l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L232.485 35.515c-4.686-4.686-12.284-4.686-16.971 0L6.101 244.929c-4.687 4.686-4.687 12.284 0 16.97z" />
            </svg>

        </a>
    </div>


    {% include 'main-site/partials/scripts.html' with page="home" plugins="swiper-bundle.min,popper.min,jquery.magnific-popup.min,jquery.ajaxchimp.min,parallax.min,jquery.waypoints,jquery.counterup.min,jquery.nice-select.min"|split %}

</body>

</html>