{% load static %}
{% load custom_filters %}

<form action="{% url 'property:property_search' %}">
    <div class="advanced-searrch flex flex-wrap -mb-[45px]">
        <input type="hidden" name="for_sale_or_rent" value="Rent">
        <div class="advanced-searrch-list flex lg:border-r lg:border-primary lg:mr-[40px] xl:mr-[50px] last:mr-0 last:border-r-0 mb-[45px]">
            <div class="mr-4 self-start shrink-0">
                <img src="{% static 'main-site/assets/images/icon/location.svg' %}" width="24" height="24" alt="svg icon">
            </div>
            <div class="flex-1">
                <label for="location2" class="font-lora block capitalize text-primary text-[17px] xl:text-[23px] leading-none mb-1">Location</label>
                <input name="address" id="location2" type="text" placeholder="Choose location" class="text-tiny placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
            </div>
        </div>

        <div class="advanced-searrch-list flex lg:border-r lg:border-primary lg:mr-[40px] xl:mr-[50px] last:mr-0 last:border-r-0 mb-[45px]">
            <div class="mr-4 self-start shrink-0">
                <img src="{% static 'main-site/assets/images/icon/property.svg' %}" width="24" height="24" alt="svg icon">
            </div>
            <div class="flex-1">
                <label for="property2" class="font-lora block capitalize text-primary text-[17px] xl:text-[23px] leading-none mb-1">Property
                    Category</label>
                <select name="category" id="property2" class="nice-select appearance-none bg-transparent text-tiny font-light cursor-pointer">
                    <option selected value="RES">Residential</option>
                    <option value="COM">Commercial</option>
                    <option value="LUX">Luxury</option>
                </select>
            </div>
        </div>

        <div class="advanced-searrch-list flex lg:border-r lg:border-primary lg:mr-[40px] xl:mr-[50px] last:mr-0 last:border-r-0 mb-[45px]">
            <div class="mr-4 self-start shrink-0">
                <img src="{% static 'main-site/assets/images/icon/area.svg' %}" width="24" height="24" alt="svg icon">
            </div>

            <div class="flex-1">
                <label for="sqft_range2" class="font-lora block capitalize text-primary text-[17px] xl:text-[23px] leading-none mb-1">Property Size</label>
                <div id="sqft_range2" style="margin-top: 8px; margin-bottom: 8px;"></div>
                <div class="input-range">
                    <input type="text" id="min_sqft2" name="min_sqft" placeholder="Min sqft" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                    <input type="text" id="max_sqft2" name="max_sqft" placeholder="Max sqft" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                </div>                                                
            </div>                                        
        </div>

        <div class="advanced-searrch-list flex items-center lg:border-r lg:boprimaryborder-primaryD4D4] lg:mr-[40px] xl:mr-[50px] last:mr-0 last:border-r-0 mb-[45px] relative">
            <div class="mr-4 self-start shrink-0">
                <img src="{% static 'main-site/assets/images/icon/dollar-circle.svg' %}" width="24" height="24" alt="svg icon">
            </div>
            <div class="flex-1">
                <label for="price_range2" class="font-lora block capitalize text-primary text-[17px] xl:text-[23px] leading-none mb-1">Price Range</label>
                <div id="price_range2" style="margin-top: 8px; margin-bottom: 8px;"></div>
                <div class="input-range">
                    <input type="text" id="min_price2" name="min_price" placeholder="Min price" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                    <input type="text" id="max_price2" name="max_price" placeholder="Max price" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                </div>
            </div>
            
            <button class="search-btn absolute right-0 lg:right-[-60px] xl:right-[-70px]">
                <img src="{% static 'main-site/assets/images/icon/search-outline.svg' %}" class="max-w-[30px] xl:w-auto" width="40" height="40" alt="svg icon">
                <span class="hidden">Search Properties</span>
            </button>
        </div>

    </div>



    <div class="advanced-searrch-hidden flex flex-wrap items-center mt-[45px] -mb-[45px]">

        <div class="advanced-searrch-list flex lg:border-r lg:border-primary lg:mr-[40px] xl:mr-[50px] last:mr-0 last:border-r-0 mb-[45px] search-list">
            <div class="mr-4 self-start shrink-0">
                <img src="{% static 'main-site/assets/images/icon/location.svg' %}" width="24" height="24" alt="svg icon">
            </div>
            <div class="flex-1">
                <label for="bedrooms_range2" class="font-lora block capitalize text-primary text-[17px] xl:text-[23px] leading-none mb-1">Bedrooms</label>
                <div id="bedrooms_range2" style="margin-top: 8px; margin-bottom: 8px;"></div>
                <div class="input-range">
                    <input type="text" id="min_bedrooms2" name="min_bedrooms" placeholder="Min bedrooms" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                    <input type="text" id="max_bedrooms2" name="max_bedrooms" placeholder="Max bedrooms" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                </div>
            </div>
        </div>

        <div class="advanced-searrch-list flex lg:border-r lg:border-primary lg:mr-[40px] xl:mr-[50px] last:mr-0 last:border-r-0 mb-[45px] search-list">
            <div class="mr-4 self-start shrink-0">
                <img src="{% static 'main-site/assets/images/icon/property.svg' %}" width="24" height="24" alt="svg icon">
            </div>
            <div class="flex-1">
                <label for="bathrooms_range2" class="font-lora block capitalize text-primary text-[17px] xl:text-[23px] leading-none mb-1">Bathrooms</label>
                <div id="bathrooms_range2" style="margin-top: 8px; margin-bottom: 8px;"></div>
                <div class="input-range">
                    <input type="text" id="min_bathrooms2" name="min_bathrooms" placeholder="Min bathrooms" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                    <input type="text" id="max_bathrooms2" name="max_bathrooms" placeholder="Max bathrooms" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                </div>
            </div>
        </div>

        <div class="advanced-searrch-list flex items-center lg:border-r lg:boprimaryborder-primaryD4D4] lg:mr-[40px] xl:mr-[50px] last:mr-0 last:border-r-0 mb-[45px] search-list">
            <div class="mr-4 self-start shrink-0">
                <img src="{% static 'main-site/assets/images/icon/dollar-circle.svg' %}" width="24" height="24" alt="svg icon">
            </div>
            <div class="flex-1">
                <label for="garage_range2" class="font-lora block capitalize text-primary text-[17px] xl:text-[23px] leading-none mb-1">Garage</label>
                <div id="garage_range2" style="margin-top: 8px; margin-bottom: 8px;"></div>
                <div class="input-range">
                    <input type="text" id="min_garage2" name="min_garage" placeholder="Min garage" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                    <input type="text" id="max_garage2" name="max_garage" placeholder="Max garage" style="font-size: 12px;" class="placeholder:text-body leading-none font-light pr-3 focus:outline-none w-full bg-transparent">
                </div>
            </div>

        </div>

        <div class="advanced-searrch-list flex items-center lg:border-r lg:boprimaryborder-primaryD4D4] lg:mr-[40px] xl:mr-[50px] last:mr-0 last:border-r-0 mb-[45px] search-list">
            <button class="search-properties-btn">
                Search Properties
            </button>
        </div>

    </div>


</form>