{% load static %}
{% load custom_filters %}
{% load cloudinary %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include 'main-site/dashboard/partials/head.html' with page="home" plugins="swiper-bundle.min,magnific-popup,nice-select"|split dashboard_plugins="" custom_css="main,timeline,blog,color_skins"|split %}
 </head>
 <body class="theme-blue font-karla text-body text-tiny">
  <!-- Page Loader -->
  {% comment %} {% include "estate-manager/partials/page_loader_wrapper02.html" %} {% endcomment %}
  {% include "main-site/dashboard/partials/dashboard_header.html" %}
  <!-- Overlay For Sidebars -->
  <div class="overlay">
  </div>
  <!-- Top Bar -->
  {% comment %} {% include "estate-manager/partials/navbar02.html" %} {% endcomment %}
  <!-- Left Sidebar -->
  {% include "main-site/dashboard/partials/agent_sidebar.html" with index_class="" li_2_class="" property_list_class="" property_list3_class="" property_list4_class="" add_property_class="" property_detail_class="" li_3_class="" apartment_class="" office_class="" shop_class="" villa_class="" li_4_class="active open" agent_class="" add_agent_class="" profile_class="active" invoices_class="" map_class="" reports_class="" li_5_class="" chat_class="" events_class="" contact_class="" li_6_class="" widgets_app_class="" widgets_data_class="" li_7_class="" blank_class="" image_gallery_class="" timeline_class="" pricing_class="" search_results_class="" %}
  <!-- Chat-launcher -->
  <div class="chat-launcher">
  </div>
  {% include "main-site/dashboard/partials/chat_wrapper.html" with hash_or_void="#" %}
  <section class="content profile-page">
   <div class="block-header">
    <div class="row">
     <div class="col-lg-7 col-md-6 col-sm-12">
      <h2>
       {{ request.user.userprofile.user_role }} Profile
       <small class="text-muted">
        Welcome to your Dashboard, {{ request.user.username }}
       </small>
      </h2>
     </div>
     <div class="col-lg-5 col-md-6 col-sm-12">
      <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
       <i class="zmdi zmdi-plus">
       </i>
      </button>
      <ul class="breadcrumb float-md-right">
       <li class="breadcrumb-item">
        <a href="index.html">
         <i class="zmdi zmdi-home">
         </i>
         Dashboard
        </a>
       </li>
       <li class="breadcrumb-item">
        <a href="javascript:void(0);">
         Agent
        </a>
       </li>
       <li class="breadcrumb-item active">
        Agent Profile
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="container-fluid">
    <div class="row clearfix">
     <div class="col-lg-4 col-md-12">
      <div class="card member-card">
       <div class="header l-cyan">
        <h4 class="m-t-10">
         {{ request.user.get_full_name }}
        </h4>
       </div>
       <div class="member-img">
        <a class="" href="#">
         <img alt="profile-image" class="rounded-circle" src="{% cloudinary_url request.user.userprofile.image.public_id width=150 height=150 crop='fill' gravity='faces' %}"/>
        </a>
       </div>
       <div class="body">
        <div class="col-12">
         <ul class="social-links list-unstyled">
          <li>
           <a href="#" title="facebook">
            <i class="zmdi zmdi-facebook">
            </i>
           </a>
          </li>
          <li>
           <a href="#" title="twitter">
            <i class="zmdi zmdi-twitter">
            </i>
           </a>
          </li>
          <li>
           <a href="#" title="instagram">
            <i class="zmdi zmdi-instagram">
            </i>
           </a>
          </li>
         </ul>
         <p class="text-muted">
          795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
         </p>
        </div>
        <hr/>
        <div class="row">
         <div class="col-4">
          <h5>
           852
          </h5>
          <small>
           Following
          </small>
         </div>
         <div class="col-4">
          <h5>
           13k
          </h5>
          <small>
           Followers
          </small>
         </div>
         <div class="col-4">
          <h5>
           234
          </h5>
          <small>
           Post
          </small>
         </div>
        </div>
       </div>
      </div>
      <div class="card">
       <ul class="nav nav-tabs">
        <li class="nav-item">
         <a class="nav-link active" data-toggle="tab" href="#about">
          About
         </a>
        </li>
         <li class="nav-item">
         <a class="nav-link" data-toggle="tab" href="#bio">
          Bio
         </a>
        </li>
         <li class="nav-item">
         <a class="nav-link" data-toggle="tab" href="#overview">
          Overview
         </a>
        </li>
        {% if not request.user.userprofile.user_is_tenant %}
        <li class="nav-item">
         <a class="nav-link" data-toggle="tab" href="#bankAcctInfo">
          Bank Account Info
         </a>
        </li>
        {% endif %}
       </ul>
       <div class="tab-content">
        <div class="tab-pane body active" id="about">        
         <small class="text-muted">
          User Type:
         </small>
         <p>
          {{ request.user.userprofile.user_role }}
         </p>
         <hr/>         
         <small class="text-muted">
          Full name:
         </small>
         <p>
          {{ request.user.get_full_name }}
         </p>
         <hr/>         
         <small class="text-muted">
          Username:
         </small>
         <p>
          {{ request.user.username }}
         </p>
         <hr/>
         <small class="text-muted">
          Email address:
         </small>
         <p>
          {{ request.user.email }}
         </p>
         <hr/>
         <small class="text-muted">
          Phone number:
         </small>
         <p>
          {{ request.user.phone_number_formatted }}
         </p>
         <hr/>
         
        </div>
        <div class="tab-pane body" id="bio">
            <p class="text-muted">{% if request.user.userprofile.bio %}{{ request.user.userprofile.bio }}{% else %}"Uh oh! It looks like you haven't uploaded a bio yet. Your bio is a great way to introduce yourself and let others know more about you. Don't worry, it's easy to add one. Just edit your profile on the right. From there, you can add your bio and share a little about yourself. We can't wait to get to know you better!"{% endif %}</p>
        </div>
        <div class="tab-pane body" id="overview">            
            {% if not request.user.userprofile.user_role or request.user.userprofile.user_is_tenant or request.user.userprofile.user_role == "Owner" %}
                <p class="text-muted">{% if request.user.userprofile.overview %}{{ request.user.userprofile.overview }}{% else %}"Oops! It seems like you haven't created an overview yet. Your overview is a great way to give more detailed information about yourself to others. Not to worry, adding an overview is easy. Just edit your profile on the right. From there, you can create your overview and let others know more about you. We can't wait to get to know you better!"{% endif %}</p>
            {% else %}
                <p class="text-muted">{% if request.user.userprofile.overview %}{{ request.user.userprofile.overview }}{% else %}"Oops! It seems like you haven't created an overview yet. Your overview is a great way to showcase your skills and experience to others. Not to worry, adding an overview is easy. Just edit your profile on the right. From there, you can create your overview and let others know more about your professional background. We can't wait to see all that you have to offer!"{% endif %}</p>
            {% endif %}          
        </div>
        {% if not request.user.userprofile.user_is_tenant %}
        <div class="tab-pane body" id="bankAcctInfo">
            {% if not request.user.userprofile.bank_name and not request.user.userprofile.account_number %}
                <small class="text-muted">Uh oh! It looks like we don't have your bank account information on file. In order to receive payments, please update your profile by uploading your bank account information on the right-hand side of the screen. Don't worry, your information is secure with us and will only be used for payment purposes. Thank you for your cooperation!</small>
            {% else %}
                <small class="text-muted">
                Bank Name:
                </small>
                <p>
                {{ request.user.userprofile.bank_name|split:"---"|first }}
                </p>
                <hr/> 
                <small class="text-muted">
                Account Number:
                </small>
                <p>
                {{ request.user.userprofile.account_number }}
                </p>
                <hr/> 
            {% endif %}
        </div>
        {% endif %}
       </div>
      </div>
     </div>
     
     <div class="col-lg-8 col-md-12">
      <div class="card">
       <ul class="nav nav-tabs profile-tabs">        
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#p1_form">Edit Profile Picture</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#p2_and_u_form">Edit Profile Info</a>
        </li>
        {% if bank_acct_update_form %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#p3_form">Edit Bank Account Info</a>
            </li>
        {% endif %}
       </ul>
      </div>
    <form action="{% url 'users:profile' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div style="padding-top: 10px; padding-bottom: 20px;" class="card">
            <div style="display: flex; justify-content: center; margin-top: 20px;" class="col-md-12">
                {% comment %} <div class="col-md-12">
                    <div style="text-align: center;" class="col-md-12"> {% endcomment %}
                        {% if p_form.non_field_errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for error in p_form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if u_form.non_field_errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for error in u_form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% comment %} </div>
                </div> {% endcomment %}
            </div>
        <div>
      <div class="tab-content">
        <div class="tab-pane blog-page active" id="p1_form" role="tabpanel">
            <div class="card">
            <div class="header">
            <h2>
            <strong>
                Edit
            </strong>
            Your Profile Picture
            </h2>
            </div>
            <div class="body">
            <div class="form-group">
                <input class="form-control {% if p_form.image.errors %}is-invalid{% endif %}" type="file" accept="image/*" name="image" style="background-image: none;"/>
                {% if p_form.image.errors %}
                    <div class="invalid-feedback">
                        <svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                        {% for error in p_form.image.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>          
            <div style="display: flex; justify-content: center; margin-top: 20px;" class="col-md-12">
                <a style="color: white !important;" href="#p2_and_u_form" class="btn btn-info btn-round navigation-btns">Next</a>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="p2_and_u_form" role="tabpanel">
            <div class="card">
            <div class="header">
            <h2>
            <strong>
                Edit
            </strong>
            Your Profile Info Here
            </h2>
            </div>
            <div class="body">
            <div class="row clearfix">
            <div class="col-lg-6 col-md-12">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" class="form-control {% if u_form.first_name.errors %}is-invalid{% endif %}" placeholder="First Name" type="text" name="first_name" value="{{ u_form.first_name.value|default:'' }}" style="background-image: none;"/>
                    {% if u_form.first_name.errors %}
                        <div class="invalid-feedback">
                            <svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                            {% for error in u_form.first_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" class="form-control {% if u_form.last_name.errors %}is-invalid{% endif %}" placeholder="Last Name" type="text" name="last_name" value="{{ u_form.last_name.value|default:'' }}" style="background-image: none;"/>
                    {% if u_form.last_name.errors %}
                        <div class="invalid-feedback">
                            <svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                            {% for error in u_form.last_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>          
            <div class="col-lg-4 col-md-12">
                <label for="phoneNumber">Phone number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">+234</span>
                    </div>
                    <input id="phoneNumber" class="form-control {% if u_form.phone_number.errors %}is-invalid{% endif %}" placeholder="Phone number" type="text" name="phone_number" value="{{ u_form.phone_number.value|default:'' }}" style="background-image: none; border-top-right-radius: 30px; border-bottom-right-radius: 30px;"/>
                    {% if u_form.phone_number.errors %}
                        <div class="invalid-feedback">
                            <svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                            {% for error in u_form.phone_number.errors %}
                                {{ error }}
                            {% endfor %}                            
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="bioField">Bio: A short description of yourself</label>
                    <textarea id="bioField" class="form-control {% if p_form.bio.errors %}is-invalid{% endif %} no-resize" placeholder="Bio (Short description of yourself)" rows="4" name="bio" style="background-image: none;">{{ p_form.bio.value|default:'' }}</textarea>
                    {% if p_form.bio.errors %}
                        <div class="invalid-feedback">
                            <svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                            {% for error in p_form.bio.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="overviewField">Overview: A longer description of yourself</label>
                    <textarea id="overviewField" class="form-control {% if p_form.overview.errors %}is-invalid{% endif %} no-resize" placeholder="Overview (Longer description of yourself)" rows="4" name="overview" style="background-image: none;">{{ p_form.overview.value|default:'' }}</textarea>
                        {% if p_form.overview.errors %}
                        <div class="invalid-feedback">
                            <svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                            {% for error in p_form.overview.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                </div>
            </div>
            
            <div style="display: flex; justify-content: center; margin-top: 20px;" class="col-md-12">
                <a style="color: white !important; {% if bank_acct_update_form %}margin-right: 15px;{% endif%}" href="#p1_form" class="btn btn-info btn-round navigation-btns">Previous</a>
                {% if bank_acct_update_form %}
                    <a style="color: white !important; margin-left: 20px;" href="#p3_form" class="btn btn-info btn-round navigation-btns">Next</a>
                {% endif %}
            </div>

            </div>
            </div>
            </div>
        </div>
        {% if bank_acct_update_form %}
        <div class="tab-pane" id="p3_form" role="tabpanel">
            <div class="card">
                <div class="header">
                <h2>
                <strong>
                    Edit
                </strong>
                Your Payment Information
                </h2>
                </div>
                <div class="body">
                    <div style="text-align: center;" class="col-md-12">
                        <div id="response" style="display: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" class="hide-icon" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                            <span id="statusMsg">Account Owner</span><span id="details"></span>
                        </div>
                    </div>
                    
                    {% if p_form.bank_name.field.choices|length != 1 %}
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="accountNumber">Bank Account Number</label>
                            <input id="accountNumber" class="form-control {% if p_form.account_number.errors %}is-invalid{% endif %}" placeholder="Bank Account Number" type="text" name="account_number" value="{{ p_form.account_number.value|default:'' }}" style="background-image: none;"/>
                            {% if p_form.account_number.errors %}
                                <div class="invalid-feedback">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                                    {% for error in p_form.account_number.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>                        
                    </div> 

                    <div class="col-md-12">
                        <div class="form-group" {% if p_form.bank_name.errors %}is-invalid{% endif %}>
                            {% if p_form.bank_name.errors %}
                                <div class="has-error">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                                    {% for error in p_form.bank_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <label for="bankName">Select Bank</label>
                            <div style="height: 250px; overflow-y: scroll;">
                                {% for value, label in p_form.bank_name.field.choices %}
                                    <div class="form-check">
                                        <input id="radio-{{ value }}" class="form-check-input" type="radio" name="bank_name" value="{{ value }}" {% if value == p_form.bank_name.initial %}checked{% endif %}>
                                        <label class="form-check-label" for="radio-{{ value }}">{{ label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            
                        </div>

                    </div>   
                    {% else %}
                    <div class="col-md-12">
                        <div style="text-align: center;" class="col-md-12">
                            <div>
                                <span style="color: red;">An error occured while making the request: Could not fetch bank names. Try reloading the page or checking your internet connection.</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}                 
                    <div style="display: flex; justify-content: center; margin-top: 20px;" class="col-md-12 navigation-container">
                        <a style="color: white !important;" href="#p2_and_u_form" class="btn btn-info btn-round navigation-btns">Previous</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
      </div>
    <div style="padding-top: 10px; padding-bottom: 20px;" class="card">
        <div style="display: flex; justify-content: center; margin-top: 20px;" class="col-md-12">
            <button type="submit" class="btn btn-primary btn-round">Submit</button>
        </div>
    <div>
    </form>
     </div>
    </div>
   </div>
  </section>
  {% include 'main-site/partials/scripts.html' with page="home" plugins="swiper-bundle.min,popper.min,jquery.magnific-popup.min,jquery.ajaxchimp.min,parallax.min,jquery.nice-select.min"|split %}
  <!-- Jquery Core Js -->
  <script src="{% static 'estate-manager/assets/bundles/libscripts.bundle.js' %}">
  </script>
  <!-- Lib Scripts Plugin Js -->
  <script src="{% static 'estate-manager/assets/bundles/vendorscripts.bundle.js' %}">
  </script>
  <!-- Lib Scripts Plugin Js -->
  <script src="{% static 'estate-manager/assets/bundles/knob.bundle.js' %}">
  </script>
  <!-- Jquery Knob Plugin Js -->
  <script src="{% static 'estate-manager/assets/bundles/mainscripts.bundle.js' %}">
  </script>
  <!-- Custom Js -->
  <script src="{% static 'estate-manager/assets/js/pages/charts/jquery-knob.js' %}">
  </script>
  <script>
    function clearError(element) {
        var parentDiv = element.parentElement;
        var inputField = parentDiv.previousElementSibling;
        parentDiv.remove();
        inputField.classList.remove("is-invalid");
    }

    $('.hide-icon').click(function() {
        $('#response').css('display', 'none');
    });


    // Add click event listeners to the "Next" and "Previous" buttons
    var next_buttons = document.querySelectorAll('.navigation-btns');
    for (var i = 0; i < next_buttons.length; i++) {
        next_buttons[i].addEventListener('click', function(event) {
            event.preventDefault();
            // Get the href of the button clicked and simulate a click on the corresponding tab
            var href = this.getAttribute('href');
            document.querySelector('.profile-tabs a[href="' + href + '"]').click();
        });
    }

    {% if bank_acct_update_form %}
        // Verify account details aynchronously
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function verifyAccountNumber(accountNumber, bankName) {
        console.log("Verifying account number...")
        $.ajax({
            url: "{% url 'users:verify_account_number' %}",
            type: 'POST',
            data: {
                'account_number': accountNumber,
                'bank_name': bankName,
                'csrfmiddlewaretoken': csrftoken,
            },
            dataType: 'json',
            success: function(data) {
                console.log(data)
                $('#response #details').text('')
                $('#response #statusMsg').text('')
                $('#response #statusMsg').text(data.status_msg);
                if (data.status) {
                    $('#response').removeClass().addClass('alert alert-success');
                    $('#response #details').text(':     '+ data.account_owner);
                } else {
                    $('#response').removeClass().addClass('alert alert-danger');
                    if (data.error_type == 'form_invalid') {
                       $('.invalid-feedback').remove();
                       $('.has-error').remove();
                        $.each(data.form_errors, function(field_name, errors) {
                            // Get the corresponding form element
                            var field = $('input[name="' + field_name + '"]');

                            // Display the errors beside the field
                            var error_message = errors.join('<br>');
                            // field.closest('.form-group').addClass('is-invalid');
                            // Display the form error message
                            if (field_name === "bank_name") {
                                field.closest('.form-group').after('<div class="has-error"><svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>' + error_message + '</div>')
                            } else {
                                field.addClass('is-invalid')
                                field.after('<div class="invalid-feedback"><svg xmlns="http://www.w3.org/2000/svg" class="close-icon" onclick="clearError(this)" width="16" height="16" fill="currentColor" class="bi bi-x" style="cursor: pointer;" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>' + error_message + '</div>');
                            }
                        });


                        

                    }
                }
                $('#response').show();
            },
            error: function(xhr, status, error) {
                $('#response #details').text('')
                $('#response #statusMsg').text('')
                console.log(error);
                $('#response #statusMsg').text(data.status_msg);
                $('#response #statusMsg').css('color', 'red');
            }
            });
        }
        {% if p_form.bank_name.field.choices|length != 1 %}
            $(document).ready(function() {
                $('input[name="bank_name"]').change(function() {
                    console.log("Bank name has changed");
                    var bankName = $(this).val();                    
                    var accountNumber = $('#accountNumber').val();
                    if (bankName !== '{{ p_form.bank_name.initial }}' && accountNumber.length >= 10) {
                        verifyAccountNumber(accountNumber, bankName);
                    }
                });

                $('#accountNumber').on('input', function() {
                    console.log("Account number has changed");
                    var accountNumber = $(this).val();
                    var bankName = $('input[name="bank_name"]:checked').val();
                    if (bankName !== '{{ p_form.bank_name.initial }}' && accountNumber.length >= 10) {
                        verifyAccountNumber(accountNumber, bankName);
                    }
                });
            });
        {% endif %}
    {% endif %}

    // Get all the tab links
    var tabLinks = document.querySelectorAll('.profile-tabs .nav-link');

    // Check for errors in each form and set the first one with errors to active
    var firstErrorNavLi = null;
    {% if p_form.image.errors %}
        document.querySelector('a[href="#p1_form"]').classList.add('has-error');
        firstErrorNavLi = document.querySelector('a[href="#p1_form"]');
    {% endif %}

    {% if p_form.bio.errors or p_form.overview.errors or u_form.errors %}
        document.querySelector('a[href="#p2_and_u_form"]').classList.add('has-error');
        if (!firstErrorNavLi) {
            firstErrorNavLi = document.querySelector('a[href="#p2_and_u_form"]');
        }
    {% endif %}

    {% if bank_acct_update_form %}
        {% if p_form.bank_name.errors or p_form.account_number.errors %}
            document.querySelector('a[href="#p3_form"]').classList.add('has-error');
            if (!firstErrorNavLi) {
                firstErrorNavLi = document.querySelector('a[href="#p3_form"]');
            }
        {% endif %}
    {% endif %}

    // Set the first tab with errors to active
    if (firstErrorNavLi) {
        firstErrorNavLi.click();
    }

    </script>
 </body>
</html>

