{% load static %}
{% load custom_filters %}

<div class="grid grid-cols-12 gap-6 items-center">
    <div class="col-span-12 lg:col-span-6">
        <span class="text-secondary text-tiny inline-block mb-2">Why Choose us</span>
        <h2 class="font-lora text-primary text-[24px] sm:text-[30px] leading-[1.277] xl:text-xl capitalize mb-5 lg:mb-16 font-medium max-w-[500px]">Discover the newest and comfortable properties and experience seamless estate management with us - that's our top priority<span class="text-secondary">.</span></h2>
        <div class="scene" data-relative-input="true">
            <img data-depth="0.1" src="{% static 'main-site/assets/images/about/about1.png' %}" class="" loading="lazy" width="729" height="663" alt="about Image">
        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 lg:pl-[70px]">
        <p class="max-w-[448px] ">Huge number of propreties availabe here for buy, sell and
            Rent. Also you find here co-living property so lots opportunity
            you have to choose here and enjoy huge discount. </p>

        <div class="-mb-10 mt-12 xl:mt-[70px] 2xl:mt-[100px]">
            <div class="flex flex-wrap mb-5 lg:mb-10">
                <img src="{% static 'main-site/assets/images/icon/doller.png' %}" class="self-start mr-5" loading="lazy" width="50" height="50" alt="about Image">
                <div class="flex-1">
                    <h3 class="font-lora text-primary text-[22px] xl:text-lg capitalize mb-2">Budget
                        Friendly</h3>
                    <p class="max-w-[315px]">Looking for an affordable home that doesn't skimp on quality? Look no further than our selection of budget-friendly properties</p>
                </div>

            </div>
            <div class="flex flex-wrap mb-5 lg:mb-10">
                <img src="{% static 'main-site/assets/images/icon/location.png' %}" class="self-start mr-5" loading="lazy" width="50" height="50" alt="about Image">
                <div class="flex-1">
                    <h3 class="font-lora text-primary text-[22px] xl:text-lg capitalize mb-2">Prime
                        Location</h3>
                    <p class="max-w-[315px]">We take pride in providing you with properties that are conveniently located in prime areas. We want to make sure that you have access to the best locations possible, so that you can enjoy your new home to the fullest</p>
                </div>

            </div>
            <div class="flex flex-wrap mb-5 lg:mb-10">
                <img src="{% static 'main-site/assets/images/icon/trusted.png' %}" class="self-start mr-5" loading="lazy" width="50" height="50" alt="about Image">
                <div class="flex-1">
                    <h3 class="font-lora text-primary text-[22px] xl:text-lg capitalize mb-2">
                        Trusted by
                        thousands</h3>
                    <p class="max-w-[315px]">You can rely on us to always act in your best interests and make sure you are completely satisfied with our services</p>
                </div>

            </div>
        </div>

    </div>
</div>